body{
    font-family: "Prompt";
    font-size:1.6vw;
    background:SlateBlue;
    color:azure;
    text-align: center;
    margin:5%;
}
p{
    margin-bottom:5%;
    font-size:1.8vw;
}
a{
    font-size:2vw;
    color:skyblue;
}
a:hover{
    color:pink;
    font-size:2.5vw;
}